{% extends 'common/base.html' %}

{% block title %}Sign Up{% endblock %}

{% block body %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for msg in messages %}
            <p style="color: red; background-color: pink;">{{ msg }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <form action="" method="POST">
        {{ form.hidden_tag() }}

        <p>
            {{ form.username.label }}<br>
            {{ form.username() }}
            {% for err in form.username.errors %}
                <span style="color: red;">{{ err }}</span><br>
            {% endfor %}
        </p>

        <p>
            {{ form.password.label }}<br>
            {{ form.password() }}
            {% for err in form.password.errors %}
                <span style="color: red;">{{ err }}</span><br>
            {% endfor %}
        </p>

        <p>
            {{ form.confirm_password.label }}<br>
            {{ form.confirm_password() }}
            {% for err in form.confirm_password.errors %}
                <span style="color: red;">{{ err }}</span><br>
            {% endfor %}
        </p>

        <p>{{ form.submit() }}</p>

        <sub>Already have an account? <a href="{{ url_for('loginPage') }}">Login</a></sub>
{% endblock %}
